.score {
    float: left;
    background-color: #729ff3;
    color: white;
    border: 3px solid black;
    padding: 9px;
}

.middleScore {
  margin: 28px -4px 0 -4px;
}

.scoreTop {
    margin-left: 238px;
    width: 640;
    float: left;
}

.actionButtons {
  margin: 0px 0px 10px 239px;
  width: 640;
  float:left;
}

.main {
  width: 100%;
  float: left;
  margin-left: 50px;
}
