.score {
    float: left;
    color: white;
    padding: 9px;
}

.middleScore {
  margin: 28px -4px 0 -4px;
}

#scorePlayerOne {
  color: yellow;
}

#scorePlayerTwo {
  color: purple;
}

#messageSpan {
    position: absolute;
    color: white;
    font-size: 50px;
    text-shadow: 5px 5px #000000;
    margin-top: 300px;
    margin-left: 10px;
}

#messageSpan {
    position: absolute;
    color: yellow;
    font-size: 18px;
    text-shadow: 2px 2px #000000;
    margin-top: 451px;
    margin-left: 10px;
}

.scoreTop {
    margin-left: 325px;
    width: 640;
    float: left;

    position: absolute;
    margin-top: 8px;
    opacity: 0.7;
    text-shadow: 2px 2px #000000;
}

.actionButtons {
  margin: 0px 0px 10px 239px;
  width: 640;
  float:left;
}

.main {
  width: 100%;
  float: left;
  margin-left: 50px;
}
